.next
  position fixed
  right 25px
  bottom 30px
  color #fff

  a
    color inherit

  &:hover
    background var(--color-accent)
    .nextDetail
      display block

.nextDetail
  display none
  white-space nowrap
  padding-right 11px + 15px

  span
    opacity .5

.icon
  padding 15px
