.sidebar
  z-index 5

.jump
  position fixed
  bottom 30px
  color #fff
  border-radius 3px

  a
    color inherit
    display flex
    align-items center
    padding 15px

  &:hover
    background var(--color-accent)
    box-shadow 0 0 25px 25px #fff

    .jumpDetail
      display block

    .icon
      svg
        fill #fff

.jumpDetail
  display none
  white-space nowrap

  span
    opacity .5

.jumpRight
  right 25px

  .jumpDetail
    padding-right 15px

.jumpLeft
  left 270px + 25px

  &:hover

  .jumpDetail
    padding-left 15px
