.sidebar
  z-index 5
  &:before
    content ""
    width 2px
    height 100%
    position absolute
    right 0
    background rgba(0,0,0,0.1)

.subchapter
  font-weight 100
  padding 1rem 30px 0

  &:first-of-type
    padding-top 0.5rem

.jump
  position fixed
  bottom 30px
  color #fff
  border-radius 3px

  a
    color inherit
    display flex
    align-items center
    padding 15px

  &:hover, &.jumpActive
    background var(--color-accent)
    box-shadow 0 0 25px 25px #fff

    .jumpDetail
      display block

    .icon
      svg
        fill #fff

.jumpDetail
  display none
  white-space nowrap

  span
    opacity .5

.jumpRight
  right 25px

  .jumpDetail
    padding-right 15px

.jumpLeft
  left 270px + 25px

  &:hover

  .jumpDetail
    padding-left 15px

.progressBar
  position absolute
  background #FAC499
  width 2px
  height 4000px
  bottom 0
  right 0
  &:after
    content ""
    position absolute
    bottom -5px
    height 5px
    background #fff
    right 0
    width 2px

.currentProgressBar
  &:after
    content ""
    position absolute
    bottom 0
    right 0
    height 32px
    width 2px
    background var(--color-accent)
    z-index 100
