@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600';

body {
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-gray-4);
}

a {
    text-decoration: none;
}

:root {
    --color-accent: #F26B00;
    --color-gray-2: #FAFAFA;
}

.bg-accent {
    background: var(--color-accent);
}


.bg-gray-2 {
    background: var(--color-gray-2);
}

.accent {
    color: var(--color-accent);
}

.vertical-line {
  border-right: solid rgba(0,0,0,0.1) 1px;
}

.min-width-240 {
  min-width: 240px;
}
