.getEndpoint
  margin 25px auto 50px
  border-radius 3px
  color #fff
  font-size 20px
  font-weight 200

.showEndpoint
  margin 25px auto 50px
  border-radius 3px
  color #191919
  font-size 20px
  font-weight 200
  background rgba(0,0,0,0.06)
