.button
  padding 15px
  font-size 1.5rem
  // font-weight 300
  // background var(--color-accent)
  border-radius 3px
  color #fff !important
  margin-top 1rem
  text-align center

  &:hover
    text-decoration none !important

  @media (max-width: 540px)
    padding 10px
    font-size 1rem
